body {
    background: #eee;

}

.documentation-instructions {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggestions {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.result {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.nav-buttons {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.form-group {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.header {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#homepage {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    align-content: center;
    width: 100px;
}

.start-back-button, .about-back-button, .doc-back-button {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Course Section Results Page (Table) */
.table-wrapper {
    width:100%;
}

.table-container {
    width:960px;
    margin-left:auto;
    margin-right:auto;
}

table { 
	width: 960px; 
	border-collapse: collapse; 
	margin:50px auto;
}


tr:nth-of-type(odd) { 
	background: white; 
}

th { 
	background: #ffd520; 
	color: black; 
    font-weight: bold; 
    font-family: 'Source Sans Pro', sans-serif;
}

td, th { 
	padding: 20px; 
	border: 0px solid #ccc; 
	text-align: left; 
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}
.table-header {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:30px;
    font-weight:700;
}

.view-section {
    
}

.red-button {
  background: #e21833;
  border:none;
  padding: 20px 20px;
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:15px;
  font-weight:700;
}

.trend {
    
}